<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Traffic Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚦 Traffic prediction System</h1>

    <div class="form">
          <label>Enter Location:</label>
    <input type="text" id="location" placeholder="Enter city or area">

        <label>Enter Date:</label>
        <input type="date" id="date">

        <label>Enter Time:</label>
        <input type="time" id="time">
<form action="/predict" method="POST">

  
 
    <button type="submit">Predict Traffic</button>

</form>

<h3 class="prediction-text">{{ prediction_text }}</h3>
      
    </div>

   
</div>

<script src="script.js"></script>
</body>
</html>
