<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Traffic Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚦 Traffic prediction System</h1>

    <div class="form">
        

  <form action="/predict" method="POST">

 

 <form action="/predict" method="POST">

    <label>Enter Location:</label>
    <input type="text" name="location" placeholder="Enter city or area" required>

    <label>Enter Date:</label>
    <input type="date" name="date" required>

    <label>Enter Time:</label>
    <input type="time" name="time" required>

    <label>Latitude:</label>
    <input type="number" step="any" name="latitude" placeholder="Enter latitude" required>

    <label>Longitude:</label>
    <input type="number" step="any" name="longitude" placeholder="Enter longitude" required>

    <button type="submit">Predict Traffic</button>

</form>
  
    <button type="submit">Predict Traffic</button>

</form>
 
 

</form>

<h3 class="prediction-text">{{ prediction_text }}</h3>
      
    </div>

   
</div>

<script src="script.js"></script>
</body>
</html>
